table {
    width: 50%;
    height: 300px;
    border-collapse: collapse;
    font-family: arial, sans-serif;
    margin-top:200px
}
td {
    padding: 5px;
    text-align: center;
}
input[type=text] {
    width: 100%;
    height: 50px;
    text-align: right;
    font-family: monospace;
    font-size: 3em;
    font-weight: bold;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    opacity: 0.5;
}
input[type=text]:hover {
    opacity: 1;
}
input[type=button] {
    opacity: 0.8;
    background-color: #f5f5f5;
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
    border: 1px solid #dedede;
    color: #444;
    height: 45px;
    width: 65px;
    text-align: center;
    font-size: 1.2em;
    font-weight: normal;
}
input[type=button]:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    opacity: 1;
    border: 1px solid #c6c6c6;
    color: #222;
    cursor: pointer;
}
input[name=equal] {
    background-color: #4d90fe;
    background-image: linear-gradient(top, #4d90fe, #4787ed);
    border: 1px solid #3079ed;
    color: #fefefe;
}
input[name=equal]:hover {
    background-color: #4d90fe;
    background-image: linear-gradient(top, #4d90fe, #357ae8);
    border: 1px solid #2f5bb7;
    color: #fefefe;
}
input[name=operator] {
    border: 1px solid #c6c6c6;
    background-color: #d6d6d6;
}
.results-header {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 20px 0px 0px 10px;
    background: #eee;
}

.results-logo-container {
    float: left;
}

.results-logo-image {
    width: 50px;
}

.results-form-container {
    float: left;
    padding-left: 15px;
}

.results-search-field {
    width: 500px;
    height: 45px;
    font-size: 15px;
    padding-left: 20px;
}

.results-search-btn {
    background: #29887f;
    width: 100px;
    height: 43px;
    border: 0px;
    font-size: 15px;
    color: #dfece5;
}

.results-login-status {
    width: 200px;
    float: right;
    text-align: right;
    padding-right: 20px;
}

.results-content {
    position: absolute;
    top: 90px;
    bottom: 10px;
    overflow: auto;
}

.results-search-for {
    color: #6c7090;
}

#results {
    width: 300px;
}

#results tr {
    height: 30px;
    background: #eee;
    border-bottom: 1px solid #c9d0d6;
}

#results tr.row-headings {
    background: #c9d0d6;
    height: 40px;
}

#results tr th {
    text-align: left;
    padding-left: 10px;
}

#results tr th.col-word {
    width: 200px;
}

#results tr td {
    padding-left: 10px;
}